@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links{
    display: flex;

}
.logo{
    font-weight: 400;
    margin: 5px;
}
.logo-container{
    flex: 1;
}
nav{
    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #5f5f79;
    font-size: 16px;
    text-decoration: none;
}
.wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    box-shadow: 0px 0px 3px grey; 
    background: #eee; 
}
.contenedor-formulario {
    width: 100%;
    padding: 50px;  
}
.contenedor-formulario .formulario {
    width: 100%;
    margin: auto; 
}
.contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px;  
}
.contenedor-formulario .formulario .input-group input[type="text"] {
    font-family: "Poppins", Arial;
    font-size: 16px;
    color: #000000;
    width: 100%;
    outline: none;
    padding: 12px;
    background: none;
    border: none;
    border-bottom: 2px solid #5f5f79; 
    margin-top: 15px; 
}
.contenedor-formulario .formulario .input-group input[type="password"] {
    font-family: "Poppins", Arial;
    font-size: 16px;
    color: #000000;
    width: 100%;
    outline: none;
    padding: 12px;
    background: none;
    border: none;
    border-bottom: 2px solid #5f5f79; 
    margin-top: 15px; 
}
.contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active {
    outline: none;
    border-bottom: 2px solid #000000; 
}
.contenedor-formulario .formulario .input-group input[type="text"]:error {
    border-bottom: 2px solid #D32F2F; 
}
.contenedor-formulario .formulario .label{
    color: #000000;
    padding: 7px; 
}
.contenedor-formulario .formulario .input-group-select {
    margin-top: 20px; 
    padding: 10px; 
    border: 1px solid #aaa;
    position: relative;
    border-radius: 7px;
  }
  .contenedor-formulario .formulario .input-group-select select {
      width: 101%;
      border: 0;
      background: transparent;
      font-size: 16px;
      outline: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
  }
.contenedor-formulario .formulario .input-group-select:after {
    content: "keyboard_arrow_down";
    font-family: "material icons";
    font-size: 24px;
    color: #666;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
.contenedor-formulario .formulario .input-group-select select .input-group-select .select {
    position: relative;
    background: #fff;
    cursor: pointer; 
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,  #73739e, #9b9bc0);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}