@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.nav-link button{
    color: #edf0f1;
    font-family: 'Poppins', sans-serif;
    padding: 9px 25px;
    background-color: #028041;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav-link button:hover{
    
    background-color: #006231;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #4d4d4d;
}

.logo-container,.nav-links{
    display: flex;
}
.logo-container{
    width: 150px;
}
.logo{
    color: #edf0f1;
    font-weight: 400;
    margin: 5px;
    cursor: pointer;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #edf0f1;
    font-size: 16px;
    text-decoration: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #79c000;
}
.cart{
    flex: 1;
    justify-content: flex-end;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 30vh;
    align-items: center;
}
.introduction{
    flex: 1;
}
.cover{
    margin-top: 30px;
    flex: 0.5;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 0px;
    font-size: 22px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-find{
    border: 2px solid #505160;
    background: transparent;
    color: #505160;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
}
.cta-register{
    background: #505160;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}
.cta-register a{
    text-decoration: none;
    color: white;
}
.cta-find a{
    text-decoration: none;
    color: #505160;
}

.cover img{
    height: 20vh;
    margin-left: 180px;
    animation: drop 1.5s ease;
}
.cover p{
    font-size: 20px;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cover h1{
    font-size: 30px;
    margin-top: 20px;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cover .sec-1{
    margin: 50px 0 0 -200px;
}
.cover .sec-2{
    margin: -310px 0 0 250px;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/*<<<<<<< HEAD*/
/*
=======
>>>>>>> keep
@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .inttro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
}
<<<<<<< HEAD
*/
/*=======
>>>>>>> keep*/
.form{
    width: 50%;
    position: relative;
    height: 50px;
/*<<<<<<< HEAD
=======*/
    /*overflow: hidden;*/
/*>>>>>>> keep*/
}
.form input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none; 
    outline: none;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
/*<<<<<<< HEAD*/
.form button{
    margin: 50px 10px 10px 20px;
}
/*
=======
>>>>>>> keep
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5f5f79;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
*/
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #5f5f79;
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after{
    transform: translateX(0%);
}
.intro-text .form select{
    width: 90%;
    margin: 50px 10px 10px 20px;
    padding: 10px; 
      border: 1px solid #aaa;
      position: relative;
      border-radius: 7px;
      margin-bottom: 20px;
    background: transparent;
    -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
}
