@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: "Poppins", Arial; }

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  box-shadow: 0px 0px 3px grey; 
  background: #eee; 
}

.contenedor-formulario {
  width: 100%;
  padding: 50px;
   
}
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto;
     
  }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px; 
      
    }
      .contenedor-formulario .formulario .input-group input[type="text"] {
        font-family: "Poppins", Arial;
        font-size: 16px;
        color: #000000;
        width: 100%;
        outline: none;
        padding: 12px;
        background: none;
        border: none;
        border-bottom: 2px solid #5f5f79; 
        margin-top: 15px;
        
      }
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active {
          outline: none;
          border-bottom: 2px solid #000000; }
        .contenedor-formulario .formulario .input-group input[type="text"]:error {
          border-bottom: 2px solid #D32F2F; 
        }
    .contenedor-formulario .formulario .label {
      color: #000000;
      padding: 7px; 
      
    }
    .contenedor-formulario .formulario .input-group-select {
      margin-top: 44px; 
      padding: 10px; 
      border: 1px solid #aaa;
      position: relative;
      border-radius: 7px;
      margin-bottom: 20px;
    }
    .contenedor-formulario .formulario .input-group-select select {
        width: 101%;
        border: 0;
        background: transparent;
        font-size: 16px;
        outline: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    .contenedor-formulario .formulario .input-group-select:after {
      content: "keyboard_arrow_down";
      font-family: "material icons";
      font-size: 24px;
      color: #666;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
      .contenedor-formulario .formulario .input-group-select select .input-group-select .select {
        position: relative;
        background: #fff;
        cursor: pointer; }

        .nav-link button{
          color: #edf0f1;
          font-family: 'Poppins', sans-serif;
          padding: 9px 25px;
          background-color: #028041;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
      }
      .nav-link button:hover{
          
          background-color: #006231;
      }
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 10%;
          background-color: #4d4d4d;
      }
      
      .logo-container,.nav-links{
          display: flex;
      }
      .logo-container{
        width: 150px;
    }
      .logo{
          color: #edf0f1;
          font-weight: 400;
          margin: 5px;
          cursor: pointer;
      }
      .nav-links{
          justify-content: space-around;
          list-style: none;
      }
      .nav-link{
          color: #edf0f1;
          font-size: 16px;
          text-decoration: none;
      }
      .nav-links li{
          display: inline-block;
          padding: 0px 20px;
      }
      .nav-links li a{
          transition: all 0.3s ease 0s;
      }
      .nav-links li a:hover{
          color: #79c000;
      }
.cart {
  justify-content: flex-end;
  flex: 1; 
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,  #73739e, #9b9bc0);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.big-circle{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
.medium-circle{
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle{
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}
/*# sourceMappingURL=registroV.css.map */
