*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/backgroundLog.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.btn-ini{
    display: flex;
    text-decoration: none;
    padding: 0 20px;
    margin: 10px auto;
}
.ini-btn{
    width: 110%;
    padding: 10px 45px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right,  #4d4d4d, #616161);
    border: 0;
    outline: none;
    border-radius: 10px;
    margin-top: 40px;
    transition: all 0.3s linear;
    color: white;
}
.ini-btn:hover{
    border-radius: 30px;
}
.form-box{
    width: 380px;
    height: 480px;   
    position: relative;
    margin: 6% auto;
    background: linear-gradient(to right,  rgb(255, 255, 255), rgb(187, 187, 187));
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.button-box{
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #6b61811f;
    border-radius: 30px;
}   
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.logo{
    display: flex;
    width: 12%;
    margin: auto;
    align-items: center;
}
.logo img{
    animation: drop 0.90s ease;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #73739e, #9b9bc0);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,  #73739e, #9b9bc0);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: all 0.2s linear;
}
.submit-btn:hover{
    color: white;
    border-radius: 15px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}
#operador{
    left: 50px;
}
#admin{
    left: 450px;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}